In [66]:
import pandas as pd
import os
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
import datetime as dt
import numpy as np

In [67]:
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    precipitation = Column(Float)
    TOBS = Column(Integer)
    
class Stations(Base):
    __tablename__ = 'stations'
    id = Column (Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [72]:
engine = create_engine('sqlite:///hawaii.sqlite')
Base.metadata.create_all(engine)

measurements_file = os.path.join('Resources','clean_hawaii_measurements.csv')
stations_file = os.path.join('Resources', 'clean_hawaii_stations.csv')

mdf = pd.read_csv(measurements_file)
sdf = pd.read_csv(stations_file)

sdf.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [73]:
session = Session(engine)

for index, row in mdf.iterrows():
    measurement = Measurements(station=row['station'],date=row['date'],precipitation=row['prcp'],TOBS=row['tobs'])
    session.add(measurement)

for index, row in sdf.iterrows():
    stations = Stations(station=row['station'],name=row['name'],latitude=row['latitude'],longitude=row['longitude'],elevation=row['elevation'])
    session.add(stations)
    
session.commit()

In [74]:
inspector = inspect(engine)
columns = inspector.get_columns('stations')
for c in columns:
    print(c['name'], c["type"], c['primary_key'])

id INTEGER 1
station VARCHAR 0
name VARCHAR 0
latitude FLOAT 0
longitude FLOAT 0
elevation FLOAT 0